.interface-container {
	animation: fadein 1s;
	justify-items: center;
}

.funcBtns {
	display: flex;
	max-width: 1100px; /*This cant be a percentage*/
	justify-content: right;
	margin: 0 auto 40px auto;
}

.DE-container {
	margin-top: 3vh;
	display: flex;
	justify-content: center;
}

@keyframes fadein {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
