[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=pearsondavid64
Group=www-data
WorkingDirectory=/home/py-env/backend
Environment="PATH=/home/py-env/backend/venv/bin"
ExecStart=/home/py-env/backend/venv/bin/uwsgi --ini myproject.ini

[Install]
WantedBy=multi-user.target
