.accordion-item {
	width: 1096px;
}

.accordion {
	--bs-accordion-bg: rgb(251, 246, 234) !important;
	border-style: solid !important;
	border-color: rgb(192, 192, 192);
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom: 0px;
	--bs-border-width: thick !important;
	--bs-border-style: double !important;

	--bs-accordion-active-bg: none !important;
	--bs-accordion-active-color: none !important;
	--bs-accordion-btn-focus-border-color: none !important;
}
