.calendar-container {
	max-width: 1100px; /*This cant be a percentage*/
	margin: 0 auto 40px auto;
}

.fc-toolbar {
	margin-bottom: 0px !important;
}

.shareBar {
    display: flex;
	max-width: 1100px;
	margin: 0 auto 40px auto;
	gap: 5px;
	margin-top: -1.5%;
	padding-bottom: 2%;
}


/* CSS for event title - was hoping to wrap but can't 
  do that given the size of an event block font size works...
*/
.fc-event-time,
.fc-event-title {
	padding: 0 5px;
	white-space: normal;
	align-items: normal;
	font-size: smaller;
}

.fc-col-header-cell-cushion,
.fc-col-header-cell-cushion:hover {
	color: black;
	text-decoration: none;
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-scrollgrid {
	border-width: 1px !important;
	border-color: rgb(192, 192, 192) !important;
	background: none !important;
}

.fc-theme-standard {
	font-weight: 400;
}

